<gr>
<extensionService name="gr_cmn_ser_fr" transactionScope="0" />
<extensionService name="gr_otcd_ser_fr" transactionScope="0" />
<extensionService name="gr_otcd_ser_sbt" transactionScope="0" />
<extensionService name="gr_red_ser_fr" transactionScope="0" />
<extensionService name="gr_red_ser_sbt" transactionScope="0" />
<extensionService name="gr_rmn_ser_fr" transactionScope="0" />
<extensionService name="gr_rmn_ser_sbt" transactionScope="0" />
<extensionService name="gr_tcd_ser_fr" transactionScope="0" />
<extensionService name="gr_tcd_ser_sbt" transactionScope="0" />
<extensionService name="grt_cmn_ser_crtfz" transactionScope="0" />

</gr>